FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=cambiar-en-produccion

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=restaurante_sistema
DB_USERNAME=root
DB_PASSWORD=CAMBIAR_PASSWORD_LOCAL

APP_TIMEZONE=America/La_Paz
APP_HOST=0.0.0.0
APP_PORT=5055
